
@import url("./reset.css");

:root
{
    --nav-color: #bfbaba;
    --bg-color:rgb(53, 64, 90);
    --text-color:#ffffff;
}
.header
{
    position: fixed;
    top : 0;
    left : 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo
{
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
}

.logo::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: defilRight 1s ease forwards;
    animation-delay: 2s;
}


.navbar a
{
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;
}


.navbar a:hover,
.navbar a.active
{
    color: var(--nav-color);

}

.intro {
    width: 80%;
    height: 15vh;
    position: relative;
    justify-content: space-between;
    margin: 7% auto 0;
}
.intro h1 {
    font-family: 'Proxima Nova Cn Rg', serif;
    font-size: 4rem;
}

.intro h2 {
    font-weight:400;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--nav-color);
}

.parcours
{
    width: 80%;
    height: 20vh;
    position: relative;
    justify-content: space-between;
    margin: 6% auto 0;
}

.parcours h2
{
    font-family: 'Proxima Nova Cn Rg', serif;
    font-size: 2rem;
}

.parcours p {
    margin-top: 1.5rem;
    color: var(--nav-color);
    line-height: 1.5rem;
}


.stage {
    width: 80%;
    height: 53vh;
    position: relative;
    justify-content: space-between;
    margin: 4% auto 0;

}

.stage-container{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.stage h2 {
    font-family: 'Proxima Nova Cn Rg', serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.stage .stage-card
{
    width: 48%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    color: var(--nav-color);
}


.stage h4 {
    margin-bottom: 1.5rem;
    margin-top: 1.3rem;
    font-size: 1.1rem;
}

.mission {

    margin-left: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
    color: var(--nav-color);
}

.competence {
    margin-left: 3rem;
    line-height: 1.7rem;
    color: var(--nav-color);
}

.item-title {
    font-size: 18px;
    margin-bottom: 5px;
}
.clr-text {
    color: var(--text-color);
}

.item-date {
    margin-bottom: 5px;
}

.item-description {
    margin-bottom: 10px;
}

footer * {
    text-align: center;

}