@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@300;400;500;600;700;800;900&display=swap');


@import url("./reset.css");

:root 
{
    --nav-color:#AAA7A7;
    --bg-color:rgb(53, 64, 90);
    --h3-color : rgb(96, 145, 239);
    --text-color:#ffffff;   
}
.header
{
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo
{
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
}

.logo::before
{
  content: '';
  position: absolute;
  background: var(--bg-color);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: defilRight 1s ease forwards;
  animation-delay: .4s;
}


.navbar a
{
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .2s;
}


.navbar a:hover,
.navbar a.active
{
  color: var(--nav-color);

}


.home
{
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10% 0;

}

.homeContaints
{
 max-width: 600px ;
  font-size: 20px;
}
.homeContaints h1{
  font-size: 56px;
  font-weight: 700;

}
.homeContaints h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--h3-color);
}

.homeContaints p {
  font-size: 16px;
}

.home-icon{
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--h3-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--h3-color);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-icon a:hover{
  color: black;
}
.home-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transition: .5s;
  background: var(--h3-color);

}
.home-icon a:hover::before {
  width: 100%;

}


footer * {
  text-align: center;
  font-size: 15px;
}

.h1Projet
{
  text-align: center;
}

.projet{

  font-size: 17px;

}


/* KEYFRAME ANIMATION */
@keyframes defilRight
{
  100%{
    width: 0;

  }
}
