
@import url("./reset.css");

:root 
{
    --nav-color:#AAA7A7;
    --bg-color:rgb(255, 255, 255);
    --text-color:#000000;   
}

header{
    position: relative;

}

nav
{
/* NAVBAR */

position: relative;
justify-content: space-between;    
display: flex;
width: 100%;
height: 70px;
left: 10px;
background: var(--nav-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

ul {
 position: absolute;
right: 50px;
top: 28px;
font-family: 'Inter';
font-weight: 700;
font-size: 17px;
line-height: 20px;
color: var(--text-color);
gap: 10rem;

}

ul li{
display: inline; /* permet de mettre une liste sur une meme ligne */

}


a {
text-decoration: none;
color: inherit;
}



img{

width: 7rem;
margin-left: 2rem;
}

