html {
    font-size: 62.5%; /* 1rem = 10px, facilite les calculs (10px/16px = 62.5%) */
}

h1, h2, h3, h4, h5, h6, p, ol, ul, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    margin: 0;
    font: 1.6rem sans-serif; /* Définit une taille de texte par défaut de 16px */
    color: var(--white-smoke);
    /* background: url("../asset/fondFeuartifice.jpg") no-repeat fixed center center / cover ; */
    background-color:var(--bg-color);

}

 ul {
        /* CV */

position: absolute;
left: 150rem;
top: 28px;
font-family: 'Inter';
font-weight: 700;
font-size: 17px;
line-height: 20px;
color: var(--text-color);
display: flex;
gap: 10rem;

}

ul li{
    display: inline; /* permet de mettre une liste sur une meme ligne */

}


a {
    text-decoration: none;
    color: inherit;
}

nav
{
    /* NAVBAR */

position:absolute;
width: 100%;
height: 70px;
background: var(--nav-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img{

    width: 7rem;
    margin-left: 2rem;
}


