
@import url("./reset.css");

:root 
{
    --nav-color:#AAA7A7;
    --bg-color:rgb(255, 255, 255);
    --text-color:#000000;   
}


nav
{
/* NAVBAR */

position: relative;
justify-content: space-between;    
display: flex;
width: 190rem;
height: 80px;
background: var(--nav-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

ul {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 0;
    right: 70px;
    top: 20px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;


  }

  ul li {
    display: inline-table;
    font-size: 1.6rem;
    width: calc(30% / 3);
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
  }
  ul li > a {
    color: var(--text-color);
    display: block;
    transition: 0.5s ease-in-out;
  }
  ul li > a:hover {
    background: var(--bg-color);
  }


img{

width: 8rem;
margin-left: 2rem;
}

.zoomIn figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomIn figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
