@import url("./reset.css");

:root
{
    --nav-color: #cccaca;
    --bg-color:rgb(53, 64, 90);
    --h3-color : rgb(96, 145, 239);
    --text-color:#ffffff;
}

h1 {
    text-align: center;
    margin: 20px 0;
}


.objectiveProjet {
    margin: 20px;
}

.objectiveProjet h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.objectiveProjet p {
    font-size: 1.2em;
}


.projet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.projet-img{
    display: flex;
    flex: 1;
    margin:10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.projet-img img{
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.projet-img p{
    margin-top: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

.projet-img img:active {
    transform: scale(1.2);
}

/* Style pour le conteneur de zoom */
#zoomContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Image zoomée */
#zoomedImage {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Bouton de fermeture */
#closeZoom {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


.modifications-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.modifications-list li {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
    font-size: 1.1em;
}



.modifications-list li::before {
    content: "✓";
    color: #007BFF;
    margin-right: 10px;
    font-weight: bold;
}
