
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}



html {
    /* selecteur css | propriété | valeur */
    font-size: 100.5%;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  main{
    height: 88vh;
  }

  h1,
  h2,
  h3,
  figure,
  p {
    margin: 0;
    font-weight: normal;
  }