
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}



html {
    /* selecteur css | propriété | valeur */
    font-size: 62.5%;
  }
  
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    background-color: var(--bg-color);  
    color: var(--text-color);
 
  }



  h1,
  h2,
  h3,
  figure,
  p {
    margin: 0;
    font-weight: normal;
  }
  
 
  img {
    display: inline-block;
  }